.wrapper__shop {
  padding: 0 0.18rem;
  .search__shop {
    display: flex;
    margin: 0.14rem 0 0.04rem 0;
    &__back {
      width: 0.3rem;
      line-height: .32rem;
      font-size: .2rem;
      color: #b6b6b6;
    }
    &__content {
      display: flex;
      flex: 1;
      line-height: .32rem;
      background: #f5f5f5;
      border-radius: .16rem;
      &__icon {
        width: .44rem;
        text-align: center;
        color: #b7b7b7;
      }
      &__input {
        display: block;
        width: 100%;
        padding-right: .2rem;
        border: none;
        outline: none;
        background: none;
        color: #333333;
        font-size: .14rem;
        &::placeholder {
          color: #333333;
        }
      }
    }
  }
}
.content {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  bottom: .5rem;
}
.category {
  width: .76rem;
  height: 100%;
  font-size: .14rem;
  overflow-y: scroll;
  background: #f5f5f5;
  &__item {
    line-height: 0.4rem;
    text-align: center;
    font-size: .14rem;
    color: #333333;
    &--active {
      background: #ffffff;
    }
  }
}
.products {
  flex: 1;
  overflow-y: scroll;
  margin: 0;
  font-size: .12rem;
  max-height: 2.87rem;
  &__header {
    display: flex;
    line-height: 0.52rem;
    border-bottom: 0.01rem solid #f1f1f1;
    color: #333333;
    font-size: 0.14rem;
    &__all {
      width: 0.64rem;
      margin-left: 0.16rem;
    }
    &__icon {
      display: inline-block;
      margin-right: 0.08rem;
      vertical-align: top;
      color: #0091ff;
      font-size: 0.2rem;
    }
    &__clear {
      flex: 1;
      margin-right: 0.16rem;
      text-align: right;
      &__btn {
        display: inline-block;
      }
    }
  }
  &__item {
    position: relative;
    display: flex;
    padding: 0.12rem 0;
    margin: 0 0.16rem;
    border-bottom: 0.01rem solid #f1f1f1;
    &__checked {
      line-height: 0.5rem;
      margin-right: 0.2rem;
      color: #0091ff;
      font-size: 0.2rem;
    }
    &__detail {
      overflow: hidden;
    }
    &__img {
      width: 0.68rem;
      height: 0.68rem;
      margin-right: 0.16rem;
    }
    &__cartImg {
      width: 0.46rem;
      height: 0.46rem;
      margin-right: 0.16rem;
    }
    &__title {
      margin: 0;
      line-height: 0.2rem;
      font-size: 0.14rem;
      color: #333333;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__sales {
      margin: 0.06rem 0;
      line-height: 0.16rem;
      font-size: 0.12rem;
      color: #333333;
    }
    &__price {
      margin: 0;
      line-height: 0.2rem;
      font-size: 0.14rem;
      color: #e93b3b;
      &__yen {
        font-size: 0.12rem;
      }
      &__origin {
        margin-left: 0.06rem;
        line-height: 0.2rem;
        font-size: 0.12rem;
        color: #999999;
        text-decoration: line-through;
      }
    }
    .products__number {
      position: absolute;
      right: 0;
      bottom: .12rem;
      line-height: .18rem;
      font-size: .12rem;
      &__minus {
        position: relative;
        top: .02rem;
        margin-right: .05rem;
        color: #666666;
      }
      &__plus {
        position: relative;
        top: .02rem;
        margin-left: .05rem;
        color: #0091ff;
      }
    }
    .products__numbers {
      position: absolute;
      right: 0;
      bottom: .26rem;
      line-height: .18rem;
      font-size: .12rem;
      &__minus {
        position: relative;
        top: .02rem;
        margin-right: .05rem;
        color: #666666;
      }
      &__plus {
        position: relative;
        top: .02rem;
        margin-left: .05rem;
        color: #0091ff;
      }
    }
  }
}
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}
.cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #ffffff;
}
.check {
  display: flex;
  height: .49rem;
  line-height: .49rem;
  border-top: 1px solid #f1f1f1;
  &__icon {
    position: relative;
    width: .84rem;
    &__img {
      display: block;
      margin: .12rem auto;
      width: .28rem;
      height: .26rem;
    }
    &__tag {
      position: absolute;
      left: .46rem;
      top: .04rem;
      padding: 0 .04rem;
      min-width: .2rem;
      height: .2rem;
      line-height: .2rem;
      background: #e93b3b;
      color: #ffffff;
      font-size: .12rem;
      border-radius: .1rem;
      text-align: center;
      transform: scale(0.5);
      transform-origin: left center;
    }
  }
  &__info {
    flex: 1;
    color: #333333;
    font-size: .12rem;
    &__price {
      line-height: .49rem;
      color: #e93b3b;
      font-size: .18rem;
    }
  }
  &__btn {
    width: .98rem;
    background: #4fb0f9;
    color: #ffffff;
    font-size: .14rem;
    text-align: center;
  }
}


